export(A, arch, B, causality, fevd, irf, normality, Phi, Psi, restrict, serial, stability, VAR, VARselect)

S3method(print, varcheck)
S3method(print, varest)
S3method(print, varfevd)
S3method(print, varirf)
S3method(print, varprd)
S3method(print, varstabil)
S3method(print, varsum)

S3method(plot, varcheck)
S3method(plot, varest)
S3method(plot, varfevd)
S3method(plot, varirf)
S3method(plot, varprd)
S3method(plot, varstabil)

S3method(predict, varest)
S3method(summary, varest)


