export(A, arch, B, causality, fanchart, fevd, irf, normality, Phi, Psi, restrict, roots, serial, stability, SVAR, VAR, VARselect)


S3method(fevd, varest)
S3method(fevd, svarest)

S3method(irf, varest)
S3method(irf, svarest)

S3method(Phi, varest)
S3method(Phi, svarest)

S3method(Psi, varest)

S3method(print, svarest)
S3method(print, varcheck)
S3method(print, varest)
S3method(print, varfevd)
S3method(print, varirf)
S3method(print, varprd)
S3method(print, varstabil)
S3method(print, varsum)

S3method(plot, varcheck)
S3method(plot, varest)
S3method(plot, varfevd)
S3method(plot, varirf)
S3method(plot, varprd)
S3method(plot, varstabil)

S3method(predict, varest)
S3method(summary, varest)






